<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asnj.mapper.AsnjMapper">
    
    <!-- 로그인 기능 -->
    <select id="memberLogin" parameterType="com.asnj.entity.Member" resultType="com.asnj.entity.Member">
        select * from tb_member where mem_user_id=#{mem_user_id} and mem_user_pw=#{mem_user_pw}
    </select>
    
    <!-- 회원가입 기능 -->
    <insert id="memberJoin" parameterType="com.asnj.entity.Member">
        insert into tb_member(mem_user_id, mem_user_pw, mem_user_name, mem_user_email, mem_user_job)
        values(#{mem_user_id}, #{mem_user_pw}, #{mem_user_name}, #{mem_user_email}, #{mem_user_job})
    </insert>
    
    <!-- 회원 전체 검색 - 회원관리 -->
    <select id="memberSelect" resultType="com.asnj.entity.Member">
    	select * from tb_member
    </select>
    
    <!-- 질병 작물 불러오기 -->
    <select id="diseasecropSelect" resultType="com.asnj.entity.Disease">
        select distinct disease_crops from tb_disease order by disease_crops
    </select>
    
    <!-- 질병 정보 페이지 불러오기(작물로 검색) 기능 -->
    <select id="diseaseSelect" parameterType="com.asnj.entity.Disease" resultType="com.asnj.entity.Disease">
        select * from tb_disease where disease_crops=#{disease_crops}
    </select>
    
    <!-- 질병 상세 정보 페이지(질병명으로 검색) 불러오기 -->
    <select id="diseaseinfoSelect" parameterType="com.asnj.entity.Disease" resultType="com.asnj.entity.Disease">
        select * from tb_disease where disease_pk=#{disease_pk}
    </select>
    
	<!-- 문의사항 조회 -->
    <select id="questionSelect" parameterType="com.asnj.entity.Question" resultType="com.asnj.entity.Question">
		select * from tb_question_board order by ques_pk desc
    </select>
    
    <!-- 문의사항 등록 -->
    <insert id="questionInsert" parameterType="com.asnj.entity.Question">
        insert into tb_question_board(mem_pk, ques_user_id, ques_title, ques_content) values(#{mem_pk}, #{ques_user_id}, #{ques_title}, #{ques_content})
    </insert>
    
    <!-- 문의사항 삭제 -->
    
</mapper>