<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asnj.mapper.AsnjMapper">
    
    <!-- 로그인 기능 -->
    <select id="memberLogin" parameterType="com.asnj.entity.Member" resultType="com.asnj.entity.Member">
        select * from tb_member where mem_user_id=#{mem_user_id} and mem_user_pw=#{mem_user_pw}
    </select>
    
    <!-- 회원가입 기능 -->
    <insert id="memberJoin" parameterType="com.asnj.entity.Member">
        insert into tb_member(mem_user_id, mem_user_pw, mem_user_name, mem_user_email, mem_user_job)
        values(#{mem_user_id}, #{mem_user_pw}, #{mem_user_name}, #{mem_user_email}, #{mem_user_job})
    </insert>
    
    <!-- 회원 전체 검색 - 회원관리 -->
    <select id="memberSelect" resultType="com.asnj.entity.Member">
    	select * from tb_member
    </select>
    
    <!-- 회원 삭제 -->
    <delete id="memberDelete">
        delete from tb_member where mem_pk=#{mem_pk} 
    </delete>
    
    <!-- 회원 정보 수정 -->
    <update id="memberUpdate" parameterType="com.asnj.entity.Member">
       update tb_member set mem_user_name=#{mem_user_name}, mem_user_pw=#{mem_user_pw}, mem_user_job=#{mem_user_job} where mem_pk=#{mem_pk}
    </update>
    
    <!-- mypage, 한 회원의 정보만 불러오기 -->
    <select id="memberOneSelect" parameterType="com.asnj.entity.Member" resultType="com.asnj.entity.Member">
    	select * from tb_member where mem_pk=#{mem_pk}
    </select>
    
    <!-- 질병 작물 불러오기 -->
    <select id="diseasecropSelect" resultType="com.asnj.entity.Disease">
        select distinct disease_crops from tb_disease order by disease_crops
    </select>
    
    <!-- 질병 정보 페이지 불러오기(작물로 검색) 기능 -->
    <select id="diseaseSelect" parameterType="com.asnj.entity.Disease" resultType="com.asnj.entity.Disease">
        select * from tb_disease where disease_crops=#{disease_crops}
    </select>
    
    <!-- 질병 상세 정보 페이지(질병키로 검색) 불러오기 -->
    <select id="diseaseinfoSelect" parameterType="com.asnj.entity.Disease" resultType="com.asnj.entity.Disease">
        select * from tb_disease where disease_pk=#{disease_pk}
    </select>
    
    <!-- 해충 정보 페이지 불러오기(작물로 검색) 기능 -->
    <select id="pestSelect" parameterType="com.asnj.entity.Pest" resultType="com.asnj.entity.Pest">
        select * from tb_pest where pest_crops=#{pest_crops}
    </select>
    
    <!-- 해충 상세 정보 페이지(해충키로 검색) 불러오기 -->
    <select id="pestinfoSelect" parameterType="com.asnj.entity.Pest" resultType="com.asnj.entity.Pest">
        select * from tb_pest where pest_pk=#{pest_pk}
    </select>
    
	<!-- 문의사항 조회 -->
    <select id="questionSelect" parameterType="com.asnj.entity.Question" resultType="com.asnj.entity.Question">
		select * from tb_question_board order by ques_pk desc
    </select>
    
    <!-- 마이페이지 문의사항 조회 -->
    <select id="mypagequestionSelect" parameterType="com.asnj.entity.Question" resultType="com.asnj.entity.Question">
		select * from tb_question_board where mem_pk=#{mem_pk} order by ques_pk desc
    </select>
    
    <!-- 문의사항 등록 -->
    <insert id="questionInsert" parameterType="com.asnj.entity.Question">
        insert into tb_question_board(mem_pk, ques_user_id, ques_title, ques_content) values(#{mem_pk}, #{ques_user_id}, #{ques_title}, #{ques_content})
    </insert>
    
    <!-- 회원 삭제시 문의사항 삭제 -->
    <delete id="questionDeleteMem">
        delete from tb_question_board where mem_pk=#{mem_pk}        
    </delete>
    
    <!-- 문의사항 삭제 -->
    <delete id="questionDelete">
        delete from tb_question_board where ques_pk=#{ques_pk}        
    </delete>
    
    <!-- 질병 검색 -->
	<select id="diseaseSearch" parameterType="com.asnj.entity.Disease" resultType="com.asnj.entity.Disease">
		select * from tb_disease
		where (disease_crops like concat('%', #{search}, '%')
		or disease_name like concat('%', #{search}, '%')
		or disease_environment like concat('%', #{search}, '%')
		or disease_solution like concat('%', #{search}, '%'))
	</select>
	
	<!-- 해충 검색 -->
	<select id="pestSearch" parameterType="com.asnj.entity.Pest" resultType="com.asnj.entity.Pest">
		select * from tb_pest
		where (pest_crops like concat('%', #{search}, '%')
		or pest_name like concat('%', #{search}, '%')
		or pest_state like concat('%', #{search}, '%')
		or pest_harm like concat('%', #{search}, '%')
		or pest_solution like concat('%', #{search}, '%'))
	</select>
	
    <!-- 페이징 -->
    <!-- 문의사항 페이징 -->
	<!-- 총 게시글 갯수 출력 -->
	<select id="questionCount" resultType="int">
		select count(*) from tb_question_board
	</select>
	
	<!-- 페이징 처리 후 게시글 조회 -->
	<!-- pageStart : 특정 페이지의 첫번째 게시글의 행이다. perPageNum : 한 페이지당 보여줄 게시글의 개수이다. -->
	<select id="questionPagingSelect" parameterType="hashmap" resultType="hashmap">
		select * from tb_question_board order by ques_pk desc LIMIT #{pageStart}, #{perPageNum};
	</select>
</mapper>