.footer__main {
    width: 100%;
    border-top: 1px solid black;
}
.footer__logo {
    margin: 30px 50px;
    float: left;
    text-align: center;
}
.footer__logo div:nth-child(2) {
    margin-right: 40px;
    opacity: 0.5;
}
.footer__content {
    position: relative;
    left: -60px;
    margin: 30px;
}
.footer__menu {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer__text {
    float: left;
}
