@charset "UTF-8";
.file-label {
	margin-top: 30px;
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.file {
	display: none;
}

.upload-box {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-box .drag-file {
	position: relative;
	width: 100%;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.upload-box .drag-file .image {
	width: 40px;
}

.upload-box .drag-file .message {
	margin-bottom: 0;
}

.upload-box .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}